body{
    font-family: sans-serif;
}

#soporte{
    margin-right: 400px;
    text-align:center;
    padding: 90px;
    padding-right: 200px;
    font-size: 110%;
    color: #023D26;
    left: 20px;    
}

.whatsapp a img{
    text-align: center;  
    margin-left: 450px;
    position: absolute;
    top: 245px;
    left: 260px;
    width: 100px;
    height: 100px;
}

.instagram a img{
    text-align: center;  
    margin-left: 450px;
    position: absolute;
    top: 245px;
    left: 400px;
    width: 100px;
    height: 100px;
}

.correo a img{
    text-align: center;  
    margin-left: 450px;
    position: absolute;
    top: 230px;
    left: 540px;
    width: 130px;
    height: 130px;
}

